Package: azurefile-dockervolumedriver
Version: 0.5.1
Section: base
Priority: optional
Architecture: amd64
Depends: cifs-utils
Maintainer: Meik Minks <meik.minks@consort-group.com>
Description: This is a Docker Volume Driver which uses Azure Storage File Storage
 to mount file shares on the cloud to Docker containers as volumes.
 It uses network file sharing (SMB/CIFS protocols) capabilities of Azure File Storage.
